### Difference between sets and dictionary:

- Sets are unordered collections of unique elements.
- Sets are used to store multiple items in a single variable.
- Sets are written with curly brackets.

* Dictionaries are used to store data values in key:value pairs.
* A dictionary is a collection which is unordered, changeable and does not allow duplicates.
* Dictionaries are written with curly brackets, and have keys and values.

In [2]:
empty_dict = {}
empty_set = set()

print(type(empty_dict))
print(type(empty_set))

<class 'dict'>
<class 'set'>

In [3]:
students = {"name":"Sahib", "Age":20, "CGPA":9.36}
print(students)

{'name': 'Sahib', 'Age': 20, 'CGPA': 9.36}

In [5]:
students.keys()

dict_keys(['name', 'Age', 'CGPA'])

In [7]:
students.values()

dict_values(['Sahib', 20, 9.36])

In [8]:
print(students['Age'])

20

In [9]:
print(students['CGPA'])

9.36

In [10]:
print(students.get("CGPA"))

9.36

In [11]:
print(students.get("Salary"))

None

In [12]:
print(students.get("Salary", "N/A"))

N/A

In [13]:
# Modifying: (Dictionaries are mutable i.e changeable)

students["Age"] = 21
print(students)

{'name': 'Sahib', 'Age': 21, 'CGPA': 9.36}

In [14]:
students["Address"] = "India"
print(students)

{'name': 'Sahib', 'Age': 21, 'CGPA': 9.36, 'Address': 'India'}

In [15]:
del students["CGPA"]

In [16]:
students

{'name': 'Sahib', 'Age': 21, 'Address': 'India'}

In [19]:
# Dictionary Methods

keys = students.keys()
print(keys)  
values = students.values()
print(values)
items = students.items()
print(items)

dict_keys(['name', 'Age', 'Address'])
dict_values(['Sahib', 21, 'India'])
dict_items([('name', 'Sahib'), ('Age', 21), ('Address', 'India')])

In [20]:
# Shallow Copying:

students_copy = students.copy()
print(students_copy)

{'name': 'Sahib', 'Age': 21, 'Address': 'India'}

In [21]:
students["name"] = "Preet"

print(students)
print(students_copy)

{'name': 'Preet', 'Age': 21, 'Address': 'India'}
{'name': 'Sahib', 'Age': 21, 'Address': 'India'}

In [24]:
#Iterate over pairs:

for key, value in students.items():
    print(f"{key} : {value}")

name : Preet
Age : 21
Address : India

In [25]:
## Nested Dictionaries

students_nested = {
    "Sahib": {
        "Age": 20,
        "CGPA": 9.36
    },
    "Preet": {
        "Age": 21,
        "CGPA": 9.5
    }
}

print(students_nested)

{'Sahib': {'Age': 20, 'CGPA': 9.36}, 'Preet': {'Age': 21, 'CGPA': 9.5}}

In [27]:
print(students_nested["Sahib"]["CGPA"])

9.36

In [28]:
#Iterating over nested dict

for name, details in students_nested.items():
    print(f"Name: {name}")
    for key, value in details.items():
        print(f"{key} : {value}")
    print()

Name: Sahib
Age : 20
CGPA : 9.36

Name: Preet
Age : 21
CGPA : 9.5

In [36]:
#Dictionary Comprehension

squares = {x:x**2 for x in range(1,11)}
for i,j in squares.items():
    print(i, ":", j, end="\n")

1 : 1
2 : 4
3 : 9
4 : 16
5 : 25
6 : 36
7 : 49
8 : 64
9 : 81
10 : 100

In [38]:
evens = {x:x**2 for x in range(1,11) if x%2 == 0}

print(evens)

{2: 4, 4: 16, 6: 36, 8: 64, 10: 100}

In [39]:
numbers = [1,2,3,2,1,2,3,1,4,4,4,4,2,3,1,5,6,7]

count = {x:numbers.count(x) for x in numbers}
print(count)

{1: 4, 2: 4, 3: 3, 4: 4, 5: 1, 6: 1, 7: 1}

In [41]:
freq = {}
for num in numbers:
    if num in freq:
        freq[num] +=1
    else:
        freq[num] = 1

print(freq)

{1: 4, 2: 4, 3: 3, 4: 4, 5: 1, 6: 1, 7: 1}

In [42]:
dict1 = {"a":1, "b":2}
dict2 = {"b":3, "c":4}

merge_dict = {**dict1, **dict2}
print(merge_dict)

{'a': 1, 'b': 3, 'c': 4}

SETS

In [43]:
info = {"Sahib", "Boy", 20, "AI-ML"}
print(info)

{'AI-ML', 'Boy', 20, 'Sahib'}

In [44]:
print(type(info))

<class 'set'>

In [46]:
lists = [1,2,2,4,5,4,4,5,2,3]
unique = set(lists)
print(unique)

{1, 2, 3, 4, 5}

In [48]:
unique.add(6)
print(unique)

{1, 2, 3, 4, 5, 6}

In [49]:
cities = {"Delhi", "Noida", "Greater Noida", "Ghaziabad"}
cities2 = {"California", "Los Angeles", "Hesperia"}
cities.update(cities2)
print(cities)

{'Noida', 'Los Angeles', 'California', 'Hesperia', 'Greater Noida', 'Delhi', 'Ghaziabad'}

In [50]:
cities.remove("Hesperia")
print(cities)

{'Noida', 'Los Angeles', 'California', 'Greater Noida', 'Delhi', 'Ghaziabad'}

In [51]:
cities.discard("Delhi")
print(cities)

{'Noida', 'Los Angeles', 'California', 'Greater Noida', 'Ghaziabad'}

In [52]:
#Join:
cities = {"Delhi", "Mumbai", "Berlin", "Kolkata"}
cities2 = {"Delhi", "Bangalore", "Mumbai", "Madrid"}
cities3 = cities.union(cities2)
print(cities3)

{'Berlin', 'Madrid', 'Bangalore', 'Kolkata', 'Delhi', 'Mumbai'}

In [53]:
cities4 = cities.intersection(cities2)
print(cities4)

{'Delhi', 'Mumbai'}

In [57]:
city = {"Hyderabad"}
print(cities.isdisjoint(city))

True